* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
  font-family: "Jua", sans-serif;
}

.nav {
  padding: 10px 0;
  background: linear-gradient(
    244deg,
    rgba(130, 222, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.brand {
  margin-left: 10px;
}
.mid > div > input {
  width: 100%;
  height: 35px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.204);
  font-size: 10px;
  padding-left: 10px;
}
.mid > div > input:focus {
  outline: none;
  border-color: rgba(205, 204, 204, 0.807);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.462);
}
.mid > div > button {
  position: absolute;
  right: 33%;
  top: 8px;
  color: rgba(0, 0, 0, 0.268);
}

div > ul {
  display: flex;
  justify-content: end;
}

.li {
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.142);
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.li > a {
  color: rgba(0, 0, 0, 0.518);
  font-size: 20px;
}

/* main all section  */

#stories {
  height: 85px;
  width: 650px;
  background-color: rgba(101, 100, 100, 0.403);
  margin-top: 60px;
  /* overflow: hidden; */
  /* border: 2px solid rgba(0, 0, 0, 0.182) ; */
}
#stories .legend-stories{
  position: absolute;
  top: 48px;
  left: 30px;
  padding: 0 5px;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  letter-spacing: 2px;
}
/* stories corosal */
.carousel {
  display: flex;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}
.carousel button{
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;

}
.carousel::-webkit-scrollbar {
  display: none;
}
/* carousel-div */
.carousel-div{
  height: 58px;
}
/* carousel imgs */
.carousel-item-info {
  height: 50px;
  width: 50px;
  /* flex-shrink: 0;
  scroll-snap-align: start; */
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
/* carousel-user name */
.carousel-user{
  overflow: hidden; 
  
}
.pr-btn {
  position: absolute;
  top: 12%;
  background: rgba(0, 0, 0, 0.248);
  color: rgb(255, 255, 255);
  border: none;
  height: 30px;
  width: 25px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}
.prev {
  left: 4px;
}
.next {
  left: 661px;
}

/* messages all section */
#messages {
  height: 350px;
  width: 650px;
  background-color: rgba(101, 100, 100, 0.403);
  overflow: hidden;

}
.msgs{
  position: absolute;
  top: 150px;
  left: 30px;
  padding: 0 5px;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  letter-spacing: 2px;
}
.msgs i{
  color: rgb(50, 132, 255);
}

/*msg view all */
.msg{
  margin: 5px 20px ;
}

#wholemsg{
  display: flex;
}

.profile-sec{
  width: 70px;
  border-right: 2px solid ;
  margin-left: 10px;
  text-align: center;
  overflow: hidden;
}
.profile-sec button{
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;

}

.profile-div hr{
  width: 90%;
  margin: 0;
  margin-bottom: 5px;
  height: 2px;
  background-color: black;

}
.profile-div .puser-name{
  margin-bottom: 0px;
}

.profile-info{
  height: 45px;
  width: 45px;
  background-image: url("./img/profile.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: auto auto;
}

.msg-secc{
opacity:0.5;
z-index:99;
color:rgb(5, 5, 5);
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.msg-secc>h2{
  font-size: 50px;
}

/* frnds section */
#frnds {
  height: 175px;
  width: 650px;
  background-color: rgb(0, 255, 38);
}

.frndli{
  position: absolute;
  bottom: 188px;
  left: 30px;
  padding: 0 5px;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
  letter-spacing: 2px;
}

.frndli i{
  color: rgb(50, 132, 255);
}


/* feed section */
#feed {
  position: absolute;
  /* display: ; */
  height: 685px;
  width: 800px;
  background-color: green;
  left: 700px;
  top: 50px;
  overflow: auto;
}

.sid {
  margin: 20px;
  border-radius: 10px;
}

